

<button mat-stroked-button (click)="ErrorMsg()" aria-label="Show an example snack-bar">
  error
</button>
<button mat-stroked-button (click)="SuccessMsg()" aria-label="Show an example snack-bar">
  success
</button>
<button mat-stroked-button (click)="InfoMsg()" aria-label="Show an example snack-bar">
  info
</button>
<button mat-stroked-button (click)="WarningMsg()" aria-label="Show an example snack-bar">
  warning
</button>
<button mat-stroked-button (click)="Msg()" aria-label="Show an example snack-bar">
  msg
</button>

